<div  class="large-4 columns animated fadeInLeftBig course-container" id="courses-section">
{{controller}}
{{courses.length}}
<h1>Courses</h1>
  {{view Ember.TextField value=search placeholder="Filter courses" class="search"}}
  <ul class="common-list course-list">
  {{#each course in courses}}
      {{#link-to model_link course tagName="li" class="course-link"}}
      <span class="course-number">{{course.courseNum}} ({{course.creditsValue}})</span> <br/>
        <span class="course-link-text">{{course.title}}</span>

        <span class="label alert round section-label" style="float:right;">{{course.sectionsCount}}</span>
      {{/link-to}}
  {{/each}}
  </ul>
</div>

{{outlet}}