<div class="animated fadeInLeftBig large-4 columns section-container" id="sections-section">
  {{this}}
 <div class="row description-section">
    <h4>{{model.courseNum}} - {{model.title}} ({{model.creditsValue}})</h4>
    <span>Attributes:
      <span>
        {{#each attribute in model.attributes}}
        {{#link-to 'attribute.courses' attribute}}{{attribute.name}} ({{attribute.tag}}){{/link-to}}
        {{else}}
          None
        {{/each}}
      </span>
    </span>

    <p>{{model.courseDescription}}</p>
  </div>

  <div class="row sections-area">
    <h5>Course Sections</h5>

     <ul class="common-list section-list">

         {{#each section in sortedSections}}
         <li class='section-item'>
         <div class="details large-10">

           <span class="details-text">Section {{section.sectionNum}} &middot; {{section.daysOfWeek}} {{section.formatTimeSlot}}</span> <br>

           <span class="details-text">
          {{#if section.professor}}
           {{#link-to 'professor.courses' section.professor}}
           {{section.professor.fullName}}
           {{/link-to}}
           {{else}}
            Professor TBD
           {{/if}}

           &middot; {{section.location}} &middot; {{section.crn}}</span>  <br>

          <div class="seats-bar progress small-6 alert round">
           <span class="meter" {{bind-attr style=section.widthStyle}}></span>

           <span class="seats-text"><span class="seats-numbers">{{section.openSeats}} / {{section.maxSeats}}</span> seats left</span> <a {{action 'addSection' section}}>+ Add to Agenda</a>
          </div>



          </div>


         </li>

         {{/each}}

     </ul>


    {{outlet}}
  </div>
</div>

