<nav class="top-bar" data-topbar role="navigation">
  <div class="container">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Notre Dame Class Search</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="push">{{#link-to 'users.new' classNames="link-item small-caps"}}register{{/link-to}}</li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li>{{#link-to 'departments' classNames="link-item small-caps"}}courses{{/link-to}}</li>
      <li><a class="small-caps" href="#" data-reveal-id="myModal">about</a></li>


    </ul>
  </section>
  </div>
</nav>

{{!-- <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
 --}}
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>About this Site</h2>
  <p class="lead">My parting gift to the students of Notre Dame.</p>
  <p>This website/application was created by me, <a href="http://iheanyi.com" class="fancy-link">Iheanyi Ekechukwu</a>, as a means for easing the burden of the Class Search process for Notre Dame students and also as a part of my Interaction Design course for Fall 2014. Although DARTing and finding classes was always a frustrating process, I hope that students find this application helpful as they select classes. </p>

  <p>I have more features planned for the application in the future, such as filtering by building, filtering by timeslots, in addition to a better means of displaying cross-listed courses. Stay tuned and feel free to <a class="fancy-link" href="mailto:hello@iheanyi.com">e-mail me</a> with any feedback or bugs that you encounter!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div data-alert class="alert-box warning">
  Information on this page is not updated in real-time and some data may be inaccurate or missing. Please bear with me as I'm continually making improvements.
  <a class="close">&times;</a>
</div>
<div id="main" class="row app">
  <div class="row">
    <div class="small-12 large-6 columns">
      <span class="filter-view">Filter By:
        <ul class="view-list filter">
          {{link-to 'All Courses' 'courses' tagName="li" }}
          {{link-to 'Departments' 'departments' tagName="li"}}
          {{link-to 'Professors' 'professors' tagName="li"}}
          {{link-to 'Attributes' 'attributes' tagName="li"}}
        </ul>
      </span>
    </div>
  </div>

  <div class="app-container">
  {{outlet}}
  </div>
</div>

<footer class="row">
  <div class="small-12 small-caps">
  <span>made with &hearts; by <a class="fancy-link" href="http://iheanyi.com">iheanyi ekechukwu</a>. website updated every day @ midnight est.</span>

  <span class="right">
  please <a class="fancy-link" href="mailto:hello@iheanyi.com">e-mail</a> or <a href="http://twitter.com/kwuchu" class="fancy-link">tweet</a> me with any feedback, bugs, or comments.
  </span>
  </div>


</footer>
