{{!-- {{render "courses" model.courses}} --}}

<div  class="large-4 columns animated fadeInLeft course-container" id="courses-section">
<h1>Courses</h1>

  <ul class="common-list course-list">
  {{#each course in model.courses}}
      {{#link-to 'department_course' course tagName="li" class="course-link"}}
      <span class="course-number">{{course.courseNum}} ({{course.creditsValue}})</span> <br/>
        <span class="course-link-text">{{course.title}}</span>

        <span class="label alert round section-label" style="float:right;">{{course.sectionsCount}}</span>
      {{/link-to}}
  {{/each}}
  </ul>
</div>

{{outlet}}