<div class="large-4 columns animated fadeInLeftBig department-container">
  {{view Ember.TextField value=search placeholder="Search for a professor" class="search"}}

 {{#unless professors.length}}
   <span>Please search for a professor.</span>
 {{/unless}}

 {{#if professor}}
  {{professor.firstName}} {{professor.lastName}}
 {{/if}}

  <ul class="common-list prof-list">

    {{#each professor in professors}}
    {{view App.ProfessorItemView professor=professor}}

    {{/each}}
{{!--     {{#each professor in professors}}
      <li class="prof-item">
        {{#link-to 'professor.courses' professor tagName="li" class="prof-link"}}

        <span class="prof-link-text">{{professor.firstName}} {{professor.lastName}}</span><br>

        <span class="prof-text">teaching  {{professor.sectionsCount}} sections in {{professor.coursesCount}} courses</span>
        {{/link-to}}
      </li>
    {{/each}} --}}
  </ul>
</div>

{{outlet}}

