<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Class Search Notre Dame" %></title>

    <link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>

    <%= javascript_include_tag "application" %>
    <script src="moment-timezone-with-data.js"></script>


    <%= csrf_meta_tags %>
  </head>

  <body id="app">

    <%= yield %>
  </body>
</html>